@import url('./_variables.css');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    background: var(--bgColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-container {
    padding: 0.5rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-container h4 {
    color: var(--questionHeadColor);
    margin-top: 1rem;
}

.question-container {
    width: 80vw;
    height: 160px;
    background: var(--questionBg);
    margin-top: 1.5rem;
    border-radius: 20px;
    padding: 1.5rem;
    display: grid;
    place-content: center;
    border: solid 0.5px var(--questionHeadColor);
}

.timer-container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #808080;
    margin-top: 1.5rem;
}

.timer-container .progress-bar-container {
    width: 100vw;
    margin: 0.5rem;
    height: 10px;
    background: #808080;
    border-radius: 20px;
    overflow: hidden;
}

.timer-container .progress-bar-container .bar {
    width: 100%;
    height: 100%;
    background: var(--btnNextBg);
    transition: 0.1s ease-out;
}

.question-container h3 {
    color: var(--white);
    font-size: 1.5em;
    text-align: center;
}

.questions-list-container {
    margin-top: 1rem;
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-list-container button {
    font-family: "Outfit", sans-serif;
    width: 100%;
    min-height: 60px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    border: none;
    outline: none;
    background: var( --btnQuestionBg);
    margin-top: 1rem;
    cursor: pointer;
}

.correct-indicator {
    height: 30px;
    width: 30px;
    border: solid;
    border-radius: 50%;
}

.questions-list-container p {
    margin-left: 1rem;
}

.questions-list-container .correct-answer-indicator {
    background: var(--correctColor);
    border: solid 0.5px #2eb12e;
    transition: 0.5s all;
}

.questions-list-container .correct-answer-indicator .correct-indicator {
    border: solid 4px #2eb12e;
}

.questions-list-container .wrong-answer-indicator {
    background: var(--incorrectColor);
    border: solid 0.5px #dd0404;
    animation: shake 0.2s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-10px);
    }
    20% {
        transform: translateX(10px);
    }
    30% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-10px);
    }
    60% {
        transform: translateX(10px);
    }
    70% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(10px);
    }
    90% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

.questions-list-container .wrong-answer-indicator .correct-indicator {
    border: solid 4px #dd0404;
}

.next-btn {
    margin-top: 1.5rem;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: var(--btnNextBg);
}

.next-btn-inactive {
    opacity: 0.6;
}

.show-result {
    padding: 0.5rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show-result h3 {
    font-size: 4rem;
    color: var(--questionHeadColor);
}

.show-result p {
    color: #ffff;
    font-size: 1.5em;
    margin-top: 0.5rem;
}

.show-result button {
    margin-top: 2rem;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: var(--btnNextBg);
    border: solid 1px #0000;
    font-size: 1.1em;
}

.onboarding {
    padding: 0.5rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.onboarding img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin: 0.5rem;
    border-radius: 5px;
}

.onboarding h3 {
    font-size: 4rem;
    color: var(--questionHeadColor);
}

.onboarding p {
    width: 80vw;
    color: #ffff;
    text-align: center;
    font-size: 1.2em;
    margin-top: 1rem;
}

.onboarding button {
    margin-top: 1rem;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: var(--btnNextBg);
    border: solid 1px #0000;
    font-size: 1.3em;
}

@media only screen and (min-width: 768px) {
    .question-container {
        width: 80vw;
    }
    .questions-list-container {
        width: 80vw;
    }
    .onboarding p {
        width: 30vw;
    }
}